@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
html {
  font-size: 62.5%;
}
body {
  margin: 0;
  color: #87878d !important;
  font-size: 1.6rem !important;
  font-family: "Roboto", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
}

nav,
header,
.header-info,
.dropdown-item {
  font-size: 1.6rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar-nav > .active {
  color: #009c79 !important;
}

.nav-link {
  padding: 1.5rem 2.5rem 1.5rem 0 !important;
}

a.nav-link:hover {
  color: #009c79 !important;
}

.dropdown-item {
  padding: 1.3rem !important;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: #009c79 !important;
}

.dropdown-item.active:hover,
.dropdown-item:active:hover {
  background-color: #009c79 !important;
}

.dropdown-menu {
  top: 135% !important;
  padding: 0 !important;
}
.nav-link {
  color: white !important;
}

.dropdown-item:hover {
  background-color: #009c79 !important;
}

.header-info {
  padding: 3rem;
}

#calculator_form {
  font-size: 1.6rem;
  color: 555;
}

label.error {
  font-weight: 300;
  color: red;
  margin-top: 0.5rem;
  font-size: 0.9rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.info-popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.info-popup__text {
  visibility: hidden;
  font-size: 1.5rem;
  width: 47rem;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 10px 6px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.info-popup .info-popup__text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 19%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.show .bi-info-circle {
  fill: #009c79;
  transition: 0.5s;
}

.show .info-popup__text {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .info-popup__text {
    left: -30px;
    font-size: 1.5rem;
    width: 30rem;
  }
  .info-popup .info-popup__text::after {
    top: 100%;
    left: 32%;
  }
}

@media screen and (max-width: 990px) {
  .header-info {
    padding: 1rem;
  }
  .header-info__contacts {
    flex-direction: column;
  }
  .header-info__contacts {
    padding: 1rem 0 0.2rem;
  }

  .header-info__contacts > div {
    margin-bottom: 0.8rem;
  }
  .dropdown-item {
    padding: 0.3rem !important;
  }
  .nav-link {
    padding: 0.5rem !important;
  }
}
