@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
html {
  font-size: 62.5%;
}
body {
  margin: 0;
  font-size: 1.6rem !important;
  font-family: "Roboto", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
}

nav,
header,
.header-info,
.dropdown-item {
  font-size: 1.6rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar-nav > .active {
  color: #009c79 !important;
}

.nav-link {
  padding: 1.5rem 2.5rem 1.5rem 0 !important;
}

a.nav-link:hover {
  color: #009c79 !important;
}

.dropdown-item {
  padding: 1.3rem !important;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: #009c79 !important;
}

.dropdown-item.active:hover,
.dropdown-item:active:hover {
  background-color: #009c79 !important;
}

.dropdown-menu {
  top: 135% !important;
  padding: 0 !important;
}
.nav-link {
  color: white !important;
}

.dropdown-item:hover {
  background-color: #009c79 !important;
}

.header-info {
  padding: 3rem;
}

@media screen and (max-width: 990px) {
  .header-info {
    padding: 1rem;
  }
  .header-info__contacts {
    flex-direction: column;
  }
  .header-info__contacts {
    padding: 1rem 0 0.2rem;
  }

  .header-info__contacts > div {
    margin-bottom: 0.8rem;
  }
  .dropdown-item {
    padding: 0.3rem !important;
  }
  .nav-link {
    padding: 0.5rem !important;
  }
}
